/* Global Reset and Setup */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Fira Sans', sans-serif;
    background: #f6f6f6 ;
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-image: url('data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTQwIiBoZWlnaHQ9IjE0MCIgdmlld0JveD0iMCAwIDE0MCAxNDAiIHdpZHRoPSIxNDAiIGhlaWdodD0iMTQwIj4KICA8cGF0aCBkPSJNMjA5LjMgNzAuN2MtMy43IDAtNi4xIDIuMy03LjkgNS42LTQuNC0xLjQtNS40LTEuM3MtLjgtMS4zLTEuNC00LjRjLTEuNy0yLjItNi41LTIuMi03LjgtMS43LTQuNi01LjYtNi4yLTEuMS0xLjQtMi41LTMuOC0xLjUgMS42IDAgMy4zLTMuMSA1LjUgNi41aC01Yy40IDAgLjkgMi40LS45IDUtLjMgMS40LTQuOCAxLjMtNi45IDEuMy0xLjggMy4yLTIuMiA1LjEtMi43IDUuNyA1LjggMy4xLjcgMS42IDIuOCAyLjMgNC41LjEgNC44LjMgNC44LjggMS41IDEuMSAzLjUgMS4yIDUuNy0xLjIgMy43LTItMy45LTQuNi0uNy0yLjUuNi00LjMgMi41LTQuMiA0LjgtMS42IDQuOC0uOCAwLTQuMy41LS43LjctMi41IDIuOS00LjMgMi45LTQuNCAwLTguMyAxLjgtOC4zIDguMy0yLjIgMC04LjYgMS44LTguNiA4LjQtMi4yIDAtOC42IDEuOC04LjYgOC41eiIgZmlsbD0iI0ZGRiIvPgo8L3N2Zz4K');
    /* SVG pattern: Diagonal lines */
}

/* Header Styles */
header {
    min-height: 25vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: darkred;
    font-size: 1.5rem;
}

header h1 {
    margin-bottom: 1.5rem;
}

/* Search Form Styles */
.search-form {
    padding: 0.7rem;
    display: flex;
}

.search-form input[type="text"] {
    padding: 0.5rem;
    font-size: 2rem;
    width: 100%;
    border: 2px solid brown;
    border-radius: 4px;
    background-color: #fff;
}

.search-form button {
    font-family: inherit;
    border: none;
    padding: 0.5rem;
    background-color: brown;
    cursor: pointer;
    font-size: 1.5rem;
    color: gainsboro;
    transition: opacity 0.5s;
}

.search-form button:hover {
    opacity: 0.8;
}

/* Gallery Info Styles */
.gallery-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: maroon;
    padding-bottom: 0.8rem;
}

.gallery-info a {
    font-size: 16px;
    color: #fafbfb;
    border: 1px solid rgb(181, 67, 67);
    background-color: rgb(181, 67, 67);
    padding: 0.25rem 0.5rem;
    text-decoration: none;
    border-radius: 4px;
    transition: opacity 0.5s;
}

.gallery-info a:hover {
    opacity: 0.8;
}

/* Gallery Styles */
.gallery {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
    max-width: 90%;
    margin: auto;
    gap: 2.5rem;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.gallery img {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease-in-out;
}

.gallery img:hover {
    transform: scale(1.05);
}

/* Load More Button Styles */
.load-button {
    min-height: 30vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.more {
    padding: 0.5rem 1rem;
    font-size: 1.2rem;
    background-color: burlywood;
    border: none;
    cursor: pointer;
    transition: opacity 0.5s;
}

.more:hover {
    opacity: 0.8;
}
