*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    background-color: antiquewhite;
    
    
    
}
body{
    font-family: 'Fira Sans', sans-serif;


}
header{
    min-height: 25vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: darkred;
    font-size: 1.5rem;

}

header h1{
    margin-bottom: 1.5rem;

}

.search-form{
    padding: .7rem;
    display: flex;

    
}

.search-form input{
    padding: .5rem;
    font-size: 2rem;
    width: 100%;
    border: 2px solid brown;
    
}

.search-form button{

    font-family: inherit;
    border: brown;
    padding: .5rem;
    background-color: brown;
    
    cursor: pointer;
    font-size: 1.5rem;
    color: gainsboro;
    transition: all .5s;;

}

.search-form button:hover{
    opacity: .8;
}

.gallery-info {
        display: flex;
        justify-content: space-between;
        align-items: center;
        color: maroon;
        padding-bottom: .8rem;
 
}

.gallery-info a{
    font: caption;
    font-size: 16px;
    color: rgb(250, 235, 235);
    border: 1px solid rgb(181, 67, 67);
    background-color: rgb(181, 67, 67);
}



.gallery{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
    max-width: 90%;
    margin: auto;
    gap: 2.5rem;
}

.gallery img{
    max-width: 100%;
    height: 100%;
}

.load-button{
    min-height: 30vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.more{
    padding: .5rem 1rem;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif ;
    font-size: 1.2rem;
    background-color: burlywood;
    border: none;
    cursor: pointer;
    transition: all .5s ;;

}

.more:hover{
            opacity: .5;
}

